<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backToHomepage()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Back to finalbossar.com
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-title style="color: #00c400;">Something Cool.</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center full-vh">
      <ion-col id="qr-intro" class="ion-text-center" size-sm="11" size-md="8" size-lg="4">
        <img id="qr-logo-one" src="../../assets/logos/F_Logo.svg">
        <img id="qr-logo-two" src="../../assets/logos/Final_Boss_Studios_Text_Logo.png" alt="" srcset="">
        <p>What to get a small sample of AR? Please make sure that you have a clean, flat surface present, like a table, or the floor. <span class="red-text">You will need your device's camera.</span></p>
        <ion-button id="start-qr-button" (click)="startQR()">
          Start
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>