<ion-header>
  <ion-toolbar>
    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- minimal loader shown until image descriptors are loaded -->
  <div class="arjs-loader">
    <div>Loading, please wait...</div>
  </div>
  <a-scene
    vr-mode-ui="enabled: false;"
    renderer="logarithmicDepthBuffer: true;"
    embedded
    arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: true;"
  >
    <!-- we use cors proxy to avoid cross-origin problems -->

    <!--
      ⚠️⚠️⚠️
      https://arjs-cors-proxy.herokuapp.com/ is now offline, Heroku has dismissed all his free plans from November 2022.
      You need to host your own proxy and use it instead. The proxy is based on CORS Anywhere (see https://github.com/Rob--W/cors-anywhere).
      ⚠️⚠️⚠️
    -->
    
    <a-entity
    gltf-model="../../assets/3dmodels/bosscoin.glb"
    scale="5 5 5"
    position="50 150 0"
  >
  </a-entity>
    <a-entity camera></a-entity>
  </a-scene>
</ion-content>
