<ion-header>
  <ion-toolbar>
    <ion-title>{{this.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-avatar>
      <img [src]="this.photo" />
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <p id="character-description"></p>
  </ion-item>
  <ion-item lines="none">
    <ion-button class="bottom-close-btn" (click)="confirm()" [strong]="true">Close</ion-button>
  </ion-item>
</ion-content>