ion-item {
    --padding-start: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #9999992e;
}
ion-accordion {
    ion-item {
        font-size: 1em;
    }
}
h2, h5 {
    color: #330474;
}
#sort-btn {
    --background: #330474; 
    color: #fff; 
    font-size: 0.8em; 
    width: 80px; 
}
#filter-btn {
    --background: #330474; 
    color: #fff; 
    font-size: 0.8em; 
    width: 80px; 
}
.app-wrapper{
    background: #f8f8f8;
    margin: 1em auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #0000001c;
}
.textarea.alert-input.sc-ion-alert-md {
    min-height: 100px;
}
@media screen and (max-width: 996px) {
.app-wrapper {
    box-shadow: none;
  }
}