<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="11" size-lg="6">
        <h1 class="admin-header">Crypto</h1>
        <p>{{this.totalSupply}} BOSSC Available</p>
        <a href="https://goerli.etherscan.io/token/0x1894d683905276CE908511a22c134b9253Dd6A9c">
          BOSSC Etherscan
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="11" size-lg="6">
        <ion-list class="crypto-transactions-list">
          <ion-item *ngFor="let transaction of transactions" class="crypto-transactions-wrapper" lines="none">
            <ion-icon slot="start" size="large" name="person-circle-outline"></ion-icon>
            <ion-label>
              <span class="crypto-name">{{transaction.amount}}</span> <br>
              <span class="crypto-email">{{transaction.note}}</span><br>
              <span class="crypto-date">{{transaction.datePosted}}</span> <br>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
