<ion-list>
  <ion-item button (click)="allApps()" lines="none">
    <ion-label>All</ion-label>
  </ion-item>
  <ion-item button (click)="gameDevs()" lines="none">
    <ion-label>Game Developers</ion-label>
  </ion-item>
  <ion-item button (click)="interns()" lines="none">
    <ion-label>Interns</ion-label>
  </ion-item>
  <ion-item button (click)="blockchainDevs()" lines="none">
    <ion-label>Blockchain Developers</ion-label>
  </ion-item>
  <ion-item button (click)="artAndDesign()" lines="none">
    <ion-label>Artists & Designers</ion-label>
  </ion-item>
  <ion-item button (click)="webDevs()" lines="none">
    <ion-label>Web Developers</ion-label>
  </ion-item>
  <ion-item button (click)="finance()" lines="none">
    <ion-label>Finance</ion-label>
  </ion-item>
  <ion-item button (click)="production()" lines="none">
    <ion-label>Production</ion-label>
  </ion-item>
  <ion-item button (click)="bizDev()" lines="none">
    <ion-label>Business Development</ion-label>
  </ion-item>
  <ion-item button (click)="marketing()" lines="none">
    <ion-label>Marketing</ion-label>
  </ion-item>
  <ion-item button (click)="sales()" lines="none">
    <ion-label>Sales</ion-label>
  </ion-item>
  <ion-item button (click)="other()" lines="none">
    <ion-label>Other</ion-label>
  </ion-item>
</ion-list>
