<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToHomePage()">
      <span style="margin-left: 1em;"></span>
      <ion-icon style="color: #999;" slot="start" name="arrow-back"></ion-icon>
      <ion-button>
       Back
      </ion-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8" size-xl="7">
        <!-- Alert -->
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8" size-xl="7">
          <div class="spacer-1x"></div>
          <div style="display: flex; align-items: center;">
            <img height="100" src="../../assets/logos/F_Logo.svg">
            <h1 style="display: inline-block;">Job Application</h1>
          </div>
          <p class="red-alert">Please fill out this application in it's entirety.</p>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <!-- Personal Information -->
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8" size-xl="7">
          <form id="job-app-form" [formGroup]="jobAppForm">
            <!-- Availability -->
            <h2>When can you start?</h2>
            <!-- Job -->
            <ion-item lines="none">
              <ion-select #jobSelectElement (ionChange)="jobSelect($event)" style="padding-left: 1.1em;" placeholder="Job applying for">
                <ion-select-option value="Game Developer">Game Developer</ion-select-option>
                <ion-select-option value="Intern">Intern</ion-select-option>
                <ion-select-option value="Blockchain Developer">Blockchain Developer</ion-select-option>
                <ion-select-option value="Designer">Designer</ion-select-option>
                <ion-select-option value="Artist">Artist</ion-select-option>
                <ion-select-option value="Web Developer">Web Developer</ion-select-option>
                <ion-select-option value="Finance">Finance</ion-select-option>
                <ion-select-option value="Production">Video & Audio Production</ion-select-option>
                <ion-select-option value="Business Development">Business Development</ion-select-option>
                <ion-select-option value="Marketing">Marketing</ion-select-option>
                <ion-select-option value="Sales">Sales</ion-select-option>
                <ion-select-option value="Other">Other</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none">
              <!-- <ion-input 
                required
                placeholder="Date Available"
                formControlName="availability" 
                type="date">
              </ion-input> -->
              <ion-datetime #availability></ion-datetime>
            </ion-item>
            <!-- 'Other Job Selection' -->
            <ion-item lines="none" [ngClass]="jobSelectElement.value != 'Other' ? 'hide-other' : 'show-other'">
              <ion-input
                [disabled]="jobSelectElement.value != 'Other'"
                #otherInput 
                required 
                placeholder="What type of job are you applying for? (Other)"
                formControlName="job" 
                type="text">
              </ion-input>
            </ion-item>
            <div class="divider"></div>
  
            <h2>Personal Information</h2>
            <!-- First Name -->
            <ion-item lines="none">
                <ion-input 
                  required
                  placeholder="First Name"
                  formControlName="firstName" 
                  type="text">
                </ion-input>
                <!-- Name Validation-->
                <!-- <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.name">
                        <div class="validation-error-message"
                        *ngIf="jobAppForm
                          .get('firstName')
                          .hasError(validation.type) && (jobAppForm.get('firstName')
                          .dirty || loginForm.get('firstName').touched)">
                          {{ validation.message }}
                        </div>
                  </ng-container>
                </div> -->
            </ion-item>
            <!-- Last Name -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="Last Name"
                  formControlName="lastName" 
                  type="text">
                </ion-input>
            </ion-item>
            <!-- Phone # -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="Phone # - Ex: 313-222-1123"
                  formControlName="phone" 
                  maxlength="10"
                  type="tel">
                </ion-input>
            </ion-item>
            <!-- Email -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="Email"
                  formControlName="email" 
                  type="email">
                </ion-input>
            </ion-item>
            <!-- Email Validation-->
            <div class="validation-error">
              <ng-container *ngFor="let validation of validationMessasges.email">
                    <div class="validation-error-message"
                    *ngIf="jobAppForm
                      .get('email')
                      .hasError(validation.type) && (jobAppForm.get('email')
                      .dirty || jobAppForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
              </ng-container>
            </div>
            <!-- Age -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="Age"
                  formControlName="age" 
                  type="text">
                </ion-input>
            </ion-item>
            <!-- Gender -->
            <ion-item lines="none">
              <ion-list style="padding: 1em;">
                <ion-radio-group (ionChange)="genderSelect($event)" #genderSelectElement>
                  <ion-list-header>
                    <ion-label style="font-size: 1.3em;">Gender</ion-label>
                  </ion-list-header>
              
                  <ion-item style="border: none;" lines="none">
                    <ion-label>Male</ion-label>
                    <ion-radio mode="md" slot="start" value="male"></ion-radio>
                  </ion-item>
              
                  <ion-item style="border: none;" lines="none">
                    <ion-label>Female</ion-label>
                    <ion-radio mode="md" slot="start" value="female"></ion-radio>
                  </ion-item>
              
                  <ion-item style="border: none;" lines="none">
                    <ion-label>Prefer not to say</ion-label>
                    <ion-radio mode="md" slot="start" value="not-saying"></ion-radio>
                  </ion-item>
  
                  <ion-item style="border: none;" lines="none">
                    <ion-label>Other</ion-label>
                    <ion-radio mode="md" slot="start" value="Other"></ion-radio>
                  </ion-item>
                </ion-radio-group>
  
                <!-- Other Gender -->
                <ion-item  [ngClass]="genderSelectElement.value != 'Other' ? 'hide-other' : 'show-other'" >
                  <ion-input
                      [disabled]="genderSelectElement.value != 'Other'"
                      #otherGenderInput 
                      placeholder="Gender"
                      formControlName="gender" 
                      type="text">
                    </ion-input>
                </ion-item>
              </ion-list>
            </ion-item>
  
            <div class="spacer-3x"></div>

            <div class="divider"></div>
            <h2>Address</h2>
            <!-- Address One -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="Address 1"
                  formControlName="addressOne" 
                  type="text">
                </ion-input>
            </ion-item>
            <!-- Address Two -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="Address 2"
                  formControlName="addressTwo" 
                  type="text">
                </ion-input>
            </ion-item>
            <!-- City -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="City"
                  formControlName="city" 
                  type="text">
                </ion-input>
            </ion-item>
            <!-- State -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="State"
                  formControlName="state" 
                  type="email">
                </ion-input>
            </ion-item>
            <!-- Zip -->
            <ion-item lines="none">
                <ion-input 
                  required 
                  placeholder="Zip"
                  formControlName="zip" 
                  type="text">
                </ion-input>
            </ion-item>
          </form>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <!-- Resume -->
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8" size-xl="7">
          <h2>Resume</h2>
          <div class="yellow-alert">Please use .PDF, .DOC, .DOCX, .PNG, or .TXT</div>
          <ion-item style="color: #222;" lines="none">
            <span style="width: 10px;"></span>
            <form id="resume-form">
              <input name="resume" (change)="onFileChange($event)" accept=".pdf, .doc, .docx, .txt, .png" required type="file">
            </form>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <!-- Tell is why would be a good fit -->
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8" size-xl="7">
          <form id="job-app-form" [formGroup]="jobAppForm">
            <h2>Tell us why you'd be a good fit</h2>
            <ion-item lines="none">
                <ion-textarea
                  #goodFit 
                  required
                  rows="10"
                  maxLength="500"
                  placeholder="Type here .."
                  formControlName="goodFitReason" 
                  type="text">
                </ion-textarea>
            </ion-item>
            <p [ngClass]="goodFit.value.length >= 500 ? 'maxed-out' : 'char-limit'">
              {{goodFit.value.length}} / 500
            </p>
          </form>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <!-- What are some of your favorite video games? -->
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8" size-xl="7">
          <form id="job-app-form" [formGroup]="jobAppForm">
            <h2>What are some of your favorite video games?</h2>
            <ion-item lines="none">
                <ion-textarea 
                  #favGames
                  required
                  rows="10" 
                  placeholder="Type here .."
                  formControlName="favoriteGames" 
                  maxLength="500"
                  type="text">
                </ion-textarea>
            </ion-item>
            <p [ngClass]="favGames.value.length >= 500 ? 'maxed-out' : 'char-limit'">{{favGames.value.length}} / 500</p>
          </form>
        </ion-col>
      </ion-row>
      <div class="divider"></div>
      <!-- What are your strengths and weaknesses? -->
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8" size-xl="7">
          <form id="job-app-form" [formGroup]="jobAppForm">
            <h2>What are your strengths and weaknesses?</h2>
            <ion-item lines="none">
                <ion-textarea 
                  #SWTextarea 
                  required
                  rows="10" 
                  placeholder="Type here .."
                  formControlName="strengthWeaknesses" 
                  maxLength="500"
                  type="text">
                </ion-textarea>
            </ion-item>
            <p [ngClass]="SWTextarea.value.length >= 500 ? 'maxed-out' : 'char-limit'">{{SWTextarea.value.length}} / 500</p>
          </form>
        </ion-col>
      </ion-row>
      <!-- Submit Button -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button style="--background: #039203;" (click)="submitApplication(availability)">
            Submit
          </ion-button>
        </ion-col>
      </ion-row>

      <div class="spacer-5x"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
