.red-alert {
    color: #352b00;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px 3px 0 0;
    border-left: 5px solid #880000;
    background: #88000017;
  }
.blue-alert {
    color: #000535;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px 3px 0 0;
    border-left: 5px solid #000535;
    background: #00053517;
  }
  .hide-other {
    opacity: 0;
  }
  .show-other {
    opacity: 1;
  }
  .maxed-out {
    color: red;
  }
  .char-limit {
    color: #888;
  }

  #job-app-form {
      
        ion-item {
            border: 2px solid #330474;
            border-radius: 5px;

        ion-input {
            --padding-start: 20px;
            --placeholder-color: #330474;
            color: #330474;
            font-size: 1em;
            border-radius: 5px;
        }
        ion-radio {
          --color: #330474 !important;
          
        }
    }
  }