h1 {
  color: #dd0000;
  font-size: 1.8em;
}
ion-header {
  background: #fff;
  box-shadow: 1px 1px 58px #999;
}
ion-progress-bar {
  background: #eadcff77;
  position: fixed;
  transition: 0.2s;
}
ion-label {
  color: #00c400;
}

h2 {
  color: #330474;
}
.divider {
  margin: 1em 0;
}
.navbar-3d-logo {
  height: 50px;
  width: 50px;
  display: inline-block;
  
}
.red-alert {
    color: #444;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px 3px 0 0;
    border-left: 5px solid #dd0000;
    background: #88000017;
  }
.blue-alert {
    color: #000535;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px 3px 0 0;
    border-left: 5px solid #000535;
    background: #00053517;
  }
  .yellow-alert {
    color: #352b00;
    background: #fdf1b8;
    border-left: 5px solid #ddb400;
    padding: 0.7em;
    border-radius: 3px 3px 0 0;
    font-size: 0.9em;
  }
  input[type="file"]::file-selector-button {
    color: white;
    background: radial-gradient(ellipse farthest-corner at right bottom, #330473 0%, #7411ff 3%, #330473 70%, #330473 40%, transparent 100%), radial-gradient(ellipse farthest-corner at left top, #7411ff 0%, #7411ff 1%, #7411ff 14%, #7411ff 62.5%, #330474 100%);
    padding: 0.4em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  .hide-other {
    opacity: 0;
  }
  .show-other {
    opacity: 1;
  }
  .maxed-out {
    color: red;
  }
  .char-limit {
    color: #888;
  }

  #job-app-form {
      
        ion-item {
            

        ion-input, ion-list {
            --padding-start: 20px;
            --placeholder-color: #330474;
            color: #330474;
            border-radius: 5px;
            --background: #f1f1f1;
        }
        ion-list, ion-select, ion-datetime, ion-radio-group {
            background: #f1f1f1;
            border-radius: 5px;
            width: 100%;
            --placeholder-color: #330474;
            color: #330474;

            ion-item {
              --background: none;
              height: 2.3rem;
            }

        }
        ion-textarea {
            --background: #f1f1f1;

        }
        ion-radio {
          --color: #330474 !important;
          
        }
    }
  }
  #job-app-submit-btn {
    --background: radial-gradient(ellipse farthest-corner at right bottom, #034b01 0%, #00ce11 3%, #034b01 70%, #034b01 40%, transparent 100%), radial-gradient(ellipse farthest-corner at left top, #00ce11 0%, #00ce11 1%, #00ce11 14%, #00ce11 62.5%, #034b01 100%);
  }
  .divider {
    margin: 2em 0;
    opacity: 0.3;
  }