<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToHomePage()">
      <span style="margin-left: 2em;"></span>
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col id="login-page-form-wrapper"
        size-xs="12" size-sm="9" size-md="7" size-lg="5" size-xl="4">
            <div class="ion-text-center">
                <img height="80" src="../../assets/logos/FBS_Logo_Initial_Final.png">
            </div>
            <form [formGroup]="loginForm">
                <ion-item lines="none">
                  <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
                  <ion-input required formControlName="email" type="email"></ion-input>
                  <!-- Email Validation-->
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.email">
                          <div class="validation-error-message"
                          *ngIf="loginForm
                            .get('email')
                            .hasError(validation.type) && (loginForm.get('email')
                            .dirty || loginForm.get('email').touched)">
                            {{ validation.message }}
                          </div>
                    </ng-container>
                  </div>
                </ion-item>
                <ion-item lines="none">
                    <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="password" type="password" minlength="8"></ion-input>
                    <!-- Password Validation-->
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessasges.password">
                            <div class="validation-error-message"
                            *ngIf="loginForm
                              .get('password')
                              .hasError(validation.type) && (loginForm.get('password')
                              .dirty || loginForm.get('password').touched)">
                              {{ validation.message }}
                            </div>
                      </ng-container>
                    </div>
                </ion-item>
                <ion-item lines="none">
                  <ion-checkbox (ionChange)="stayLoggedIn($event)"></ion-checkbox>
                  <span style="margin-right: 1em;"></span>
                  <ion-label>Stay Logged In?</ion-label>
                </ion-item>
            </form>
              <div class="ion-text-center">
                <div class="spacer-3x"></div>
                <ion-button id="login-btn-login" 
                (click)="login(
                          loginForm.controls.email.value,
                          loginForm.controls.password.value)">
                    Login
                </ion-button>
              </div>
              <div class="ion-text-center">
                <div class="spacer-1x"></div>
                <ion-button id="login-btn-forgot"
                (click)="forgot()">
                    Forgot Password
                </ion-button>
              </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-hide-lg-up">
  <ion-button id="login-btn-reg" (click)="goToRegisterPage()" expand="block">
    Sign Up
  </ion-button>
  <ion-button id="login-btn-cancel" (click)="goHome()" expand="block">
    Cancel
  </ion-button>
</ion-footer>
