<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToHomePage()">
      <span style="margin-left: 2em;"></span>
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col id="login-page-form-wrapper"
        size-xs="12" size-sm="9" size-md="7" size-lg="5" size-xl="4">
            <div class="ion-text-center">
                <img id="login-logo" 
                      height="100" 
                      src="../../assets/logos/F_Logo.svg">
            </div>
            <form [formGroup]="loginForm">
                <ion-item lines="none">
                  <ion-input 
                    required 
                    placeholder="Email"
                    formControlName="email" 
                    type="email">
                  </ion-input>
                  <!-- Email Validation-->
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.email">
                          <div class="validation-error-message"
                          *ngIf="loginForm
                            .get('email')
                            .hasError(validation.type) && (loginForm.get('email')
                            .dirty || loginForm.get('email').touched)">
                            {{ validation.message }}
                          </div>
                    </ng-container>
                  </div>
                </ion-item>
                <ion-item lines="none">
                    <ion-input 
                      required
                      id="password-login"
                      formControlName="password"
                      placeholder="Password"
                      type="password" 
                      minlength="8">
                    </ion-input>
                    <ion-button id="show-password-login"
                    (click)="togglePasswordDisplay()">
                      <ion-icon name="eye" ></ion-icon>
                    </ion-button>
                    <!-- Password Validation-->
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessasges.password">
                            <div class="validation-error-message"
                            *ngIf="loginForm
                              .get('password')
                              .hasError(validation.type) && (loginForm.get('password')
                              .dirty || loginForm.get('password').touched)">
                              {{ validation.message }}
                            </div>
                      </ng-container>
                    </div>
                </ion-item>
                <ion-item lines="none"
                style="border: none; --background: none;">
                  <ion-checkbox (ionChange)="stayLoggedIn($event)"></ion-checkbox>
                  <span style="margin-right: 1em;"></span>
                  <p class="blue-alert">Stay Logged In?</p>
                </ion-item>
            </form>
              <div class="ion-text-center">
                <div class="spacer-3x"></div>
                <ion-button id="login-btn-login" 
                (click)="login(
                          loginForm.controls.email.value,
                          loginForm.controls.password.value)">
                    Login
                </ion-button>
              </div>
              <div class="ion-text-center">
                <div class="spacer-1x"></div>
                <ion-button id="login-btn-forgot"
                (click)="forgot()">
                    Forgot Password
                </ion-button>
              </div>
        </ion-col>
        
        <ion-col class="ion-text-center ion-hide-lg-down" size="11">
          <ion-button class="login-btn-reg"
          (click)="goToRegisterPage()">
              Sign Up
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Mobile Footer Buttons -->
<ion-footer class="ion-hide-lg-up">
  <ion-button id="login-btn-reg-mobile" (click)="goToRegisterPage()" expand="block">
    Sign Up
  </ion-button>
  <ion-button id="login-btn-cancel" (click)="goHome()" expand="block">
    Cancel
  </ion-button>
</ion-footer>
