@import 'swiper/scss';
@import "~swiper/css";

#login-page-form-wrapper {
  box-shadow: 1px 1px 10px #dedede;
  padding: 1em;
  border-radius: 5px;
  
  ion-input {
    --padding-start: 20px;
  }
}

@media screen and (max-width: 996px) {
  #login-page-form-wrapper {
    box-shadow: none;
  }
}

ion-footer {
}

#login-btn-forgot {
    width: 200px;
    --background: none;
    --box-shadow: none;
    --color: #330474;
}
#login-btn-login {
    width: 200px;
    --background: #;
}
#login-btn-reg {
    --background: #00c400;
    height: 60px;
    margin: 0;
    --border-radius: 0;
}
#login-btn-cancel {
    --background: #999;
    height: 60px;
    margin: 0;
    --border-radius: 0;
}

// Swiper
.swiper {
    width: 100%;
    height: 500px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #e3f1ed;
  // border-radius: 10px;
  // box-shadow: 1px 1px 5px #999;
  margin: 0 auto;
//   width: 300px !important;

  /* Center slide text vertically */
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  ion-item {
    transition: 0.5s;
  }
}