ion-grid {
    height: 100vh;
}
h1 {
    color: #330474;
}
.forgot-p1-button-red{
    width: 200px;
    height: 50px;
    font-size: 1.5em;
    --background: #bd1d1d;
    --color: white;
    margin-top: 3em;
}
.forgot-p1-button-purple{
    width: 120px;
    height: 30px;
    font-size: 1.2em;
    --background: #330474;
    --color: white;
    margin-top: 2em;
}
.forgot-p1-button-green{
    width: 120px;
    height: 30px;
    font-size: 1.2em;
    --background: #00c400;
    --color: white;
}
.forgot-input-wrapper {
    background: #fff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;
    opacity: 0;
    animation: forgot-slide-in 1s ease forwards;

    ion-item {
        border: 2px solid #330474;
        border-radius: 5px;
    
      ion-input {
          --padding-start: 20px;
          --placeholder-color: #330474;
          color: #330474;
          font-size: 1.2em;
          border-radius: 5px;
        }

        #show-password-forgot {
            --background: none;
            --box-shadow: none;
            --color: #00c400;
            font-size: 1.5em;
        }
    }
}

@keyframes forgot-slide-in {
    0%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes forgot-slide-out {
    0%{
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-20px);
    }
}

ion-footer {
    #forgot-btn-cancel {
        --background: #999;
        height: 60px;
        margin: 0;
        --border-radius: 0;
    }
}