<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="11" size-lg="7">
        <h1 style="color: #dd0000;">Profiles</h1>
      </ion-col>
      <ion-col size-sm="11" size-lg="7">
        <!-- <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button style="--background: #330474; --color: #fff; width: 100px; font-size: 0.85em;">
            Send Email
          </ion-button>
          <ion-button style="--background: #330474; --color: #fff; width: 100px; font-size: 0.85em;">
            Sort
          </ion-button>
          <ion-button style="--background: #330474; --color: #fff; width: 100px; font-size: 0.85em;">
            Filter
          </ion-button>
        </ion-buttons>
        </ion-toolbar> -->
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="11" size-lg="7">
        <ion-list class="admin-profile-list">
          <ion-item *ngFor="let profile of profiles" class="admin-profile-wrapper" lines="none">
            <ion-icon slot="start" size="large" name="person-circle-outline"></ion-icon>
            <ion-label>
              <span class="profile-name">{{profile.firstName}}  {{profile.lastName}}</span> <br>
              <span class="profile-email">{{profile.email}}</span><br>
              <span class="profile-newsletter">Newsletter: {{profile.newsletter}}</span><br>
              <span class="profile-date">Registered: {{profile.dateRegistered}}</span> <br>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
