<ion-app>
  <!-- Under Construction -->
  <ion-row>
    <ion-col size="12" class="ion-text-center under-construction-wrapper">
      <p>Under Construction | Launch - Febuary 2023 🔥</p>
    </ion-col>
  </ion-row>
  <!-- Side Menu -->
  <ion-menu *ngIf="skeletonLoaded" side="start" menuId="side-menu" contentId="main">
    <ion-header>
      <ion-toolbar>
        <img height="60" class="lg-logo" src="../../assets/logos/Text_Logo.svg" alt="Final Boss Studios Logo">
      </ion-toolbar>
    </ion-header>
    <ion-content id="ion-menu-content">
      
     <!-- *ngIf="!this.profileService.user === null"  -->
      <ion-list>
        <ion-item *ngIf="this.profileService.email.value == 'none'" (click)="goToLogin()" lines="none">
          <p id="login-side-menu" class="side-menu-button-inactive">
            Login / Signup
          </p>
        </ion-item>
        <ion-item *ngIf="this.profileService.email.value != 'none'" (click)="goToProfile()" lines="none">
          <p id="profile-side-menu" class="side-menu-button-inactive">
            Profile
          </p>
        </ion-item>
        <ion-item (click)="goToAbout()" lines="none">
          <p id="about-side-menu" class="side-menu-button-inactive">
            About
          </p>
        </ion-item>
        <ion-item (click)="goToProjects()" lines="none">
          <p id="projects-side-menu" class="side-menu-button-inactive">
            Projects
          </p>
        </ion-item>
        <!-- <ion-item (click)="goToAR()" lines="none">
          <p id="AR-side-menu" class="side-menu-button-inactive">
            What is XR?
          </p>
        </ion-item> -->
        <ion-item (click)="goToTeam()" lines="none">
          <p id="team-side-menu" class="side-menu-button-inactive">
            Our Team
          </p>
        </ion-item>
        <ion-item (click)="goToContribute()" lines="none">
          <p id="contribute-side-menu" class="side-menu-button-inactive">
            Contribute
          </p>
        </ion-item>
        <ion-item (click)="goToContact()" lines="none">
          <p id="contact-side-menu" class="side-menu-button-inactive">
            Contact Us
          </p>
        </ion-item>
        <ion-item (click)="goToJobs()" lines="none">
          <p id="contact-side-menu" class="side-menu-button-inactive">
            Jobs
          </p>
        </ion-item>
        <ion-item lines="none">
          <div class="spacer-5x"></div>
        </ion-item>
        <ion-item *ngIf="this.profileService.email.value != 'none'"  (click)="this.profileService.logout()" lines="none">
          <p id="logout-side-menu" class="side-menu-button-inactive">
          Logout
          </p>
        </ion-item>
        <ion-item lines="none" (click)="closeSideMenu()">
          <p id="close-button">
            <ion-icon size="large" name="close-outline"></ion-icon>
            Close</p>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet *ngIf="skeletonLoaded" id="main"></ion-router-outlet>
  <!-- Skeleton UI Large-->
  <ion-list style="padding: 0px 300px;" *ngIf="!skeletonLoaded" class="full-vh skeleton-text ion-hide-lg-down">
    <div class="spacer-5x"></div>
    <div *ngIf="!skeletonLoaded" class="skeleton-logo ion-text-center">
      <img height="150" src="../assets/logos/F_Logo_Grey.png" alt="Final Boss Grey Logo">
    </div>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- Skeleton UI  -->
  <ion-list *ngIf="!skeletonLoaded" class="full-vh skeleton-text ion-hide-lg-up">
    <div *ngIf="!skeletonLoaded" class="ion-text-center skeleton-logo ">
      <img height="150" src="../assets/logos/F_Logo_Grey.png" alt="Final Boss Grey Logo">
    </div>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: none;">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-app>
