#login-side-menu,
#profile-side-menu
 {
    color: #00c400;
}
.full-vh {
    height: 100vh;
    padding: 1em;
    background: #d4d4d4;
}
.skeleton-text {
    ion-list {
        ion-item {
            --background: none;
        }
    }
}
ion-skeleton-text {
    --border-radius: 5px;
    --background: rgb(60, 246, 60);
    --background-rgb: 221, 0, 0;
  }
#logout-side-menu {
    color: #dd0000;
}
.side-menu-button-inactive {
    width: 100%;
    height: 35px;
    color: #999;
    --background: none;
    --box-shadow: none;
    font-size: 1.5em;
    text-align: right;
    padding-right: 0.5em;
}
.side-menu-button-active {
    width: 100%;
    height: 35px;
    color: #dd0000;
    --background: none;
    --box-shadow: none;
    font-size: 1.5em;
    text-align: right;
    padding-right: 0.5em;
}
#close-button {
    width: 100%;
    height: 35px;
    color: #5e04dd;
    --background: none;
    --box-shadow: none;
    font-size: 1.5em;
    text-align: right;
    padding-right: 0.5em;

    ion-icon {
        position: relative;
        top: 8px;
    }
}

ion-menu {
    z-index: 9999;

    #ion-menu-content {
        ion-list {
            ion-item {
                height: 50px;
                font-size: 0.75em;
            }
        }
    }
}
.under-construction-wrapper {
    background: linear-gradient(45deg, #8b101096, #8b1010,#8b101096);
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    opacity: 0;
    z-index: 9998;
    animation: under-construction-fade-down 1s ease 1s forwards;

    p {
        
    }
}
@keyframes under-construction-fade-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {

        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}