<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="11" size-lg="6">
        <ion-item style="--background: none;" lines="none">
          <h1 class="admin-header">Admin Dashboard</h1>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Profiles -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="admin-dashboard-wrapper" size-sm="11" size-lg="6">
        <h2 class="latest">Latest Profiles</h2>
        <a [routerLink]="['/fbs-admin/dashboard/profiles']">Go to profiles page</a>
        <ion-item *ngFor="let profile of latestProfiles" class="admin-dashboard-profile-wrapper" lines="none">
          <ion-icon slot="start" size="large" name="person-circle-outline"></ion-icon>
          <ion-label>
            <span class="profile-name">{{profile.name}}</span> <br>
            <span class="profile-email">{{profile.email}}</span><br>
            <span class="profile-date">{{profile.dateRegistered}}</span> <br>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Cryptos -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="admin-dashboard-wrapper" size-sm="11" size-lg="6">
        <h2 class="latest">Crypto</h2>
        <a [routerLink]="['/fbs-admin/dashboard/crypto']">Go to crypto page</a>
        <ion-item  style="--background: #00c400;">
          <h3 style="color: #fff;">Coins Available - 0/10,000,000</h3>
        </ion-item>
        <ion-item *ngFor="let transaction of latestTransactions" class="admin-dashboard-profile-wrapper" lines="none">
          <ion-icon slot="start" size="large" name="cash-outline"></ion-icon>
          <ion-label>
            <span>{{transaction.amount}}</span> <br>
            <span>{{transaction.note}}</span><br>
            <span>{{transaction.datePosted}}</span> <br>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Newsletter -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="admin-dashboard-wrapper" size-sm="11" size-lg="6">
        <h2 class="latest">Next Scheduled Newsletter</h2>
        <a [routerLink]="['/fbs-admin/dashboard/newsletter']">Go to newsletter page</a>
        <ion-item>
          <ion-icon slot="start" size="large" name="time-outline"></ion-icon>
          <ion-label>
            <span>Title</span> <br>
            <span>Date</span><br>
            <span>Time</span> <br>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <div style="margin-bottom: 5em;"></div>
  </ion-grid>
</ion-content>
