<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="11" size-lg="6">
        <h1 class="admin-header">Admin Dashboard</h1>
      </ion-col>
    </ion-row>

    <!-- Profiles -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="admin-dashboard-wrapper" size-sm="11" size-lg="6">
        <h2 class="latest">Latest Profiles | Total: {{this.totalProfilesCount}}</h2>
        <a [routerLink]="['/fbs-admin/dashboard/profiles']">Go to Profiles page</a>
        <p class="last-three">Last 3 profiles registered</p>
        <ion-item style="border-left: 5px solid #330474;" *ngFor="let profile of latestProfiles" class="admin-dashboard-profile-wrapper" lines="none">
          <ion-icon slot="start" size="large" name="person-circle-outline"></ion-icon>
          <ion-label>
            <span class="profile-name">{{profile.firstName}} {{profile.lastName}}</span> <br>
            <span class="profile-email">{{profile.email}}</span><br>
            <span class="profile-email">Newsletter: {{profile.newsletter}}</span><br>
            <span class="profile-date">Date Registered: {{profile.dateRegistered}}</span> <br>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Cryptos -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="admin-dashboard-wrapper" size-sm="11" size-lg="6">
        <h2 class="latest">BOSSC</h2>
        <a [routerLink]="['/fbs-admin/dashboard/crypto']">Go to Crypto page</a>
        <ion-item  style="border-left: 5px solid #00c400;" lines="none">
          <h3 style="color: #00c400;">Coins Available - 0/{{this.totalSupply}}</h3>
        </ion-item>
        <ion-item *ngFor="let transaction of latestTransactions" class="admin-dashboard-profile-wrapper" lines="none">
          <ion-icon slot="start" size="large" name="cash-outline"></ion-icon>
          <ion-label>
            <span>{{transaction.amount}}</span> <br>
            <span>{{transaction.note}}</span><br>
            <span>{{transaction.datePosted}}</span> <br>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Newsletter -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="admin-dashboard-wrapper" size-sm="11" size-lg="6">
        <h2 class="latest">Next Scheduled Newsletter | <span style="color: #dd0000;">Under Construction</span></h2>
        <a [routerLink]="['/fbs-admin/dashboard/newsletter']">Go to Newsletter page</a>
        <ion-item>
          <ion-icon slot="start" size="large" name="time-outline"></ion-icon>
          <ion-label>
            <span>Title</span> <br>
            <span>Date</span><br>
            <span>Time</span> <br>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <div style="margin-bottom: 5em;"></div>
  </ion-grid>
</ion-content>
