.page-title {
    position: relative;
    top: -5px;
    font-size: 1.1em;
    color: #330474;
}
.full-vh {
    height: 90vh;
}
#admin-login-logo {
    opacity: 0;
    animation: login-up 1s ease forwards;
}
@keyframes login-up {
    0% {
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
#admin-login-header {
    z-index: 99;
    background: #fff;
    color: #dd0000;
    width: 100%;
    font-size: 1.4em;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0 auto;
}
#admin-login-button {
    width: 150px;
    --background: #330474;
}
#admin-register-button {
    width: 150px;
    height: 40px;
    --background: #00c400;
}
ion-item {
    border: 2px solid #330474;
    border-radius: 5px;

  ion-input {
      --padding-start: 20px;
      --placeholder-color: #330474;
      color: #330474;
      font-size: 1.2em;
      border-radius: 5px;
    }
}