.age-modal-btn-wp {
    height: 300px;
}
h1 {
    color: #330474;
    margin-top: 200px;
}
ion-button {
    width: 150px;
    --background: radial-gradient(ellipse farthest-corner at right bottom, #330473 0%, #7411ff 3%, #330473 70%, #330473 40%, transparent 100%), radial-gradient(ellipse farthest-corner at left top, #7411ff 0%, #7411ff 1%, #7411ff 14%, #7411ff 62.5%, #330474 100%);
}