.age-modal-btn-wp {
    height: 300px;
    margin-top: 5.5rem;
}
img {
    height: 60px;
    margin-bottom: 1rem;
}
h1 {
    color: #dd0000;
}
ion-button {
    width: 150px;
    --background: radial-gradient(ellipse farthest-corner at right bottom, #330473 0%, #7411ff 3%, #330473 70%, #330473 40%, transparent 100%), radial-gradient(ellipse farthest-corner at left top, #7411ff 0%, #7411ff 1%, #7411ff 14%, #7411ff 62.5%, #330474 100%);
}