<ion-menu menuId="admin-menu" contentId="admin">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Admin
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item lines="none" (click)="adminHome()">
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="adminProfiles()">
        <ion-label>Profiles</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="adminCrypto()">
        <ion-label>Crypto</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="adminNewsletter()">
        <ion-label>Newsletter</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="adminJobApps()">
        <ion-label>Job Apps</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="adminLogout()">
        <ion-label>Logout</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="this.menu.close()">
        <ion-label color="danger">Close</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="this.menu.open()">
        <img height="25" style="padding-left: 1em;" src="../../../assets/icon/purple-ham-menu.svg">
      </ion-buttons>
      <ion-title>
          <img height="35" src="../../../assets/logos/Text_Logo.svg">
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-router-outlet id="admin"></ion-router-outlet>
</ion-content>
