<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToHomePage()">
      <span style="margin-left: 2em;"></span>
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Main Profile Wrapper -->
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col id="profile-wrapper"  size-xs="11" size-sm="10" size-md="8" size-lg="6">
      
      <!-- User Info -->
      <div id="user-info-header">
        <img height="60" src="../../assets/icon/default-profile-picture.svg" alt="User Profile Icon">
        <span>
          <h2 style="color: #00c400;">{{this.profileService.firstName.value + " " + this.profileService.lastName.value}}</h2>
          <p>{{this.profileService.email.value}}</p>
        </span>
      </div>

      <!-- List Buttons -->
      <ion-item class="profile-item-lg" (click)="changeNameModal()" lines="none" detail="true">
        <ion-label>Change Name</ion-label>
      </ion-item>
      <ion-item class="profile-item-lg" (click)="changeEmailModal()" lines="none" detail="true">
        <ion-label>Change Email</ion-label>
      </ion-item>
      <!-- <ion-item (click)="changePictureModal()" lines="none" detail="true">
        <ion-label>Change Picture</ion-label>
      </ion-item> -->
      <ion-item class="profile-item-lg" (click)="changePasswordModal()" lines="none" detail="true">
        <ion-label>Change Password</ion-label>
      </ion-item>
      <!-- <ion-item (click)="changeNewsLetterModal()" lines="none" detail="true">
        <ion-label>Subscribe to Newsletter</ion-label>
      </ion-item> -->
      <ion-item id="profile-logout" (click)="this.profileService.logout()" class="profile-item-lg" lines="none" detail="true">
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <!-- Change Name Modal -->
  <ion-modal id="change-name-modal" [isOpen]="this.changeNameModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <h3>Change Name</h3>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="closeNameModal()">
              <ion-icon class="modal-btn-close" size="large" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="11">
              <div class="user-info-header">
                <h2>
                  {{this.profileService.firstName.value + " " + this.profileService.lastName.value}}
                </h2>
              </div>
              <form [formGroup]="changeNameForm" ngSubmit="tryChangeName()">
                <ion-item lines="none">
                  <ion-input required formControlName="firstName" placeholder="{{this.profileService.firstName.value}}" type="text"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-input required formControlName="lastName" placeholder="{{this.profileService.lastName.value}}" type="text"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-input required formControlName="password" type="password" placeholder="Password"></ion-input>
                  <!-- Email Validation-->
                  <div class="validation-errors">
                        <ng-container *ngFor="let validation of validationMessasges.password">
                          <div class="validation-error-message"
                          *ngIf="changeNameForm
                            .get('password')
                            .hasError(validation.type) && (changeNameForm.get('password')
                            .dirty || changeNameForm.get('password').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                  </div>
                </ion-item>
                <div class="ion-text-center">
                  <ion-button class="profile-btn-submit" type="submit">
                    Submit
                  </ion-button>
                  <ion-button class="profile-btn-cancel" type="cancel">
                    Cancel
                  </ion-button>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Change Email Modal -->
  <ion-modal id="change-email-modal" [isOpen]="this.changeEmailModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <h3>Change Email</h3>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="closeEmailModal()">
              <ion-icon class="modal-btn-close" size="large" name="close-outline"></ion-icon> 
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="11">
              <div class="user-info-header">
                  <h2>{{this.profileService.email.value}}</h2>
              </div>
              <form [formGroup]="changeEmailForm">
                <ion-item lines="none">
                  <ion-input required formControlName="newEmail" placeholder="{{this.profileService.email.value}}" type="email"></ion-input>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.email">
                      <div class="validation-error-message"
                      *ngIf="changeEmailForm
                        .get('newEmail')
                        .hasError(validation.type) && (changeEmailForm.get('newEmail')
                        .dirty || changeEmailForm.get('newEmail').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                    </div>
                </ion-item>
                <ion-item lines="none">
                  <ion-input required formControlName="password" type="password" placeholder="Password"></ion-input>
                </ion-item>
                <div class="ion-text-center">
                    <ion-button class="profile-btn-submit" type="submit">
                      Submit
                    </ion-button>
                    <ion-button class="profile-btn-cancel" type="submit">
                      Cancel
                    </ion-button>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Change Password Modal -->
  <ion-modal id="change-password-modal" [isOpen]="this.changePasswordModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <h3>Change Password</h3>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="closePasswordModal()">
              <ion-icon class="modal-btn-close" size="large" name="close-outline"></ion-icon> 
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="11">
              <form [formGroup]="changePasswordForm" (ngSubmit)="tryChangePassword()">
                <ion-item lines="none">
                  <ion-input required formControlName="newPassword" type="password" placeholder="New Password"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-input required formControlName="oldPassword" type="password" placeholder="Current Password"></ion-input>
                </ion-item>
                <div class="ion-text-center">
                  <ion-button class="profile-btn-submit"type="submit">
                    Submit
                  </ion-button>
                  <ion-button class="profile-btn-cancel" type="submit">
                    Cancel
                  </ion-button>
                </div>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
  </ion-grid>
</ion-content>
