<ion-list>
  <ion-list>
    <ion-radio-group name="auto" value="{{this.jobType}}">
      <ion-list-header>
        <ion-label>Sort Job Apps</ion-label>
      </ion-list-header>
      <ion-item button lines="none" (click)="newestApps()">
        <ion-label>Date (Newest)</ion-label>
        <ion-radio value="newest-apps"></ion-radio>
      </ion-item>
      <ion-item button lines="none" (click)="oldestApps()">
        <ion-label>Date (Oldest)</ion-label>
        <ion-radio value="oldest-apps"></ion-radio>
      </ion-item>
      <ion-item button lines="none" (click)="youngestAge()">
        <ion-label>Age (Youngest)</ion-label>
        <ion-radio value="youngest-age"></ion-radio>
      </ion-item>
      <ion-item button lines="none" (click)="oldestAge()">
        <ion-label>Age (Oldest)</ion-label>
        <ion-radio value="oldest-age"></ion-radio>
      </ion-item>
      <ion-item button lines="none" (click)="soonestAvail()">
        <ion-label>Soonest Availability</ion-label>
        <ion-radio value="soonest"></ion-radio>
      </ion-item>
      <ion-item button lines="none" (click)="furthestAvail()">
        <ion-label>Furthest Availability</ion-label>
        <ion-radio value="furthest"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-list>