/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Chakma&family=Roboto&family=Roboto+Slab&display=swap');
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bebas Neue', cursive;

}
p {
  font-family: 'Noto Sans Chakma', sans-serif;
}

.input-label {
    margin-bottom: 1em;
    color: #330474;
    font-size: 1.1em;
    font-weight: 600;
  }

.contact-success {
    --background: green;
  }
.contact-fail {
    --background: #a70000;
  }

.bottom-page-spacer {
    margin-top: 15em;
}
.spacer-5x {
    margin-top: 5em;
}
.spacer-4x {
    margin-top: 4em;
}
.spacer-3x {
    margin-top: 3em;
}
.spacer-2x {
    margin-top: 2em;
}
.spacer-1x {
    margin-top: 1em;
}

.divider {
    border-bottom: solid 1px rgba(153, 153, 153, 0.322);
    margin: 10em 0;
}
.bottom-modal-button {
    text-align: center;
    padding: 1em;

    ion-button {
        display: block;
        width: 140px;
        margin: 1em auto;
    }
}

// Admin
.admin-header{
  border-left: 5px solid #333;
  background: #fff;
  padding: 0.5em;
  border-radius: 5px;
  color: #333;
  margin-top: 2em;
}
#newsletter-header {
  ion-button {
    --background: #330474;
    --color: #fff;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    width: 180px;
    margin: 0.5em auto;
  }
}
.admin-profile-list {
  background: none;
}
.admin-profile-wrapper,
.admin-dashboard-wrapper
 {
  padding: 0;
  margin: 1em auto;

  .profile-email,
  .profile-newsletter,
  .profile-date {
    color: #999;
  }
  .profile-name {
    color: #330474;
  }
  a {
    text-decoration: none;
    font-size: 1em;
  }
  ion-icon {
    position: relative;
    left: 18px;
    color: #330474;
  }
}
.crypto-transactions-list {
  background: none;
}
.crypto-transactions-wrapper {
  padding: 0;
  margin: 1em auto;
  border-left: 5px solid #dd0000;

  .crypto-email,
  .crypto-date {
    color: #999;
  }

  ion-icon {
    position: relative;
    left: 18px;
    color: #330474;
  }
}

// Ion Elements
ion-grid {
  background: #fff;
  min-height: 100vh;
}
  ion-header {
    z-index: 9999;
  }
  ion-item {
      --padding-start: 0px;
      margin: 1em 0;
  }
  ion-label {
    margin-bottom: 1em;
    color: #330474;
    font-size: 1.1em;
    font-weight: 600;
  }

  ion-textarea {
    background: #330474;
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
  }

  ion-input {
    --padding-start: 20px;
    background: #330474;
    color: #fff;
    border-radius: 5px;
  }

  ion-toolbar {
    
  }
  ion-button {
    font-size: 1em;
  }

  ion-checkbox {
    --size: 2em;
    --background-checked: #00c400;
    --background: #ededed;
  }
// Toasts
.success-toast {
    --background: #02b10a;
    --color: #fff;
    font-size: 1.5em;
}
.danger-toast {
    --background: red;
    --color: #fff;
    font-size: 1.5em;
}

// Alerts
// .danger-alert {
//     background: #ff8a8a86; 
//     border-left: 6px solid #f51818;
//     padding: 0.5em;
//     display: block;
//     color: white;
//  }

// Validation
.validation-error-message {
    color: white;
    background: #9a1111;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1em;
  }

  .arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
  }