h1 {
  font-size: 3em;
}
.red-text {
  color: #f16f6f;
}
.green-text {
  color: #64ff64;
}
.blue-text {
  color: #81b1ff;
}
.yellow-text {
  color: #c7dd01;
}
ion-progress-bar {
  --progress-background: red;
  background: #330474;
  position: fixed;
}
#navbar-wrapper {

  background: #fff;

  #navbar-toolbar {
    // height: 70px;

    ion-toolbar {
      --background: none;
    }

    .navbar-3d-logo {
      height: 50px;
      width: 50px;
      display: inline-block;
      
    }
    #navbar-text-logo {
      position: relative;
      bottom: -1px;
      left: -22px;
    }
  }

}
#login-button {
  --color: #039203;
}
#profile-button {
  --color: #039203;
}
#job-app-button {
  --color: #330474;
}
.header-ios ion-toolbar:last-of-type {
  --border-width: 0px;
}
#navbar-links {

  .inactive-link {
    font-size: 0.8em;
    color: #999;
    --background-hover: #330474;
    transition: 0.2s;
  }
  .active-link {
    font-size: 0.9em;
    color: #dd0000;
    --background-hover: #330474;
    transition: 0.2s;
  }

    .navbar-profile-icon {
    position: relative;
    left: -3px;
  }
}

#header-video {
  height: 50vh;
  background: #fff;
  padding-top: 3em;

  video {
    width: 80%;
    margin: 0 auto;
  }
}
#header-logo {
  height: 50vh;
  background: #fff; 
  padding-top: 3em;
}
.slant {
  width: 100%;
  display: block;
  position: relative;
  top: 0.2rem;
}

#about {
  padding: 1em 0 0 0;
  background: linear-gradient(#1b023d 1%, #111 35%);
  color: white;

  h1 {
    margin-bottom: 1em;
    color: #00ff00;
  }

  p {
    font-size: 1.3em;
    color: #fff;
    padding-bottom: 2em;
    border-bottom: 2px solid #ffffff6b;
  }

  #detroit-skyline-svg {
    opacity: 0;
    width: 100%;
    animation: detroit-skyline-fade-up 5s ease forwards;
    img {
      width: 100%;
    }
  }

  #Green-Moon {
    opacity: 0;
    animation: green-moon 80s ease 7s infinite;
  }

  .slant-reverse {
    width: 100%;
    display: block;
    position: relative;
  }
  .slant-bosscoin {
    width: 100%;
    display: block;
    position: relative;
  }
  @media only screen and (max-width: 700px) {
    p {
      font-size: 1em;
      margin: 0;
      box-shadow: none;
    }
  }
  @keyframes about-object-slide-reverse {
    0% {
        transform: translate(0px);
    }
    10% {

        opacity: 1;
    }
    100% {
        transform: translate(-1470px, 95px);
        opacity: 1;
    }
  }
  @keyframes detroit-skyline-fade-up {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      
    }
  }
  @keyframes detroit-skyline-fade-down {
    0% {
      transform: translateY(88px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
      opacity: 0;
    }
  }
  @keyframes green-moon {
    0% {
      transform: translate(-20px, 0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translate(600px, -100px);
      opacity: 0;
    }
  }
}
#apply {
  padding: 6em 0;

  h1 {
    color: #330474;
  }

  p {
    color: #111;
    font-size: 1.2em; 
    padding: 1em 0;
  }

  ion-button {
    --background: #dd0000;
  }
}

// Projects
#projects {
  background: #f3f3f3;
  padding: 5em 0;
  position: relative;
  top: 5px;

  .project-wrapper {
    background: #fff;
    padding: 3em;
    margin: 1em;
    box-shadow: 1px 1px 15px rgba(46, 46, 46, .1);
    border-radius: 10px;
    font-size: 0.8em;
    color: #555;

    .pw-header {
      // background: lightgrey;
      height: 2.5rem;
      margin-bottom: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      h4 {
        color: #fff;
        padding: 0.3em 0em;
        border-radius: 3px;
        padding: 0.2rem 1rem;
        width: 12.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #d19213 3%, #9f7928 30%, #8A6E2F 40%, transparent 100%),
                  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #e4cc63 1%, #a88d41 14%, #5d4a1f 62.5%, #5d4a1f 100%);
      }
      .pw-game {
        background: radial-gradient(ellipse farthest-corner at right bottom, #680e0e 0%, #dd0000 3%, #680e0e 70%, #680e0e 40%, transparent 100%), radial-gradient(ellipse farthest-corner at left top, #dd0000 0%, #dd0000 1%, #dd0000 14%, #dd0000 62.5%, #680e0e 100%);
      }
    }
    .pw-highlight {
      background: #fff;
      height: 15rem;
      margin: 1.5rem 0;
      display: flex;
      align-items: center;

      video {
        height: inherit;
      }
      img {
        width: 100%;
      }
    }
    .pw-desc {
      // background: lightgrey;
      height: 10rem;
      margin-bottom: .5rem;
      display: flex;
      align-items: top;

       p {
         font-size: 1.3em;
       }
    }
    .pw-footer {
      // background: lightgrey;
      height: 5rem;
      margin-bottom: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-toolbar {
        height: inherit;
        --background: none;

        .btn-link {
          font-size: 1rem;
          color: #3880ff;
          text-decoration: underline;
        }
        
        img {
          height: 1rem;
          margin-right: 0.5rem;
        }
      }
    }
   }
}
#ph-concepts {

  .concept-wrapper {
    // margin: 1em;
    h2 {
      color: #fff;
      padding: 0.3em;
      border-radius: 3px;
      max-width: 200px;
      margin: 1em 0;
      background: radial-gradient(ellipse farthest-corner at right bottom, #680e0e 0%, #dd0000 3%, #680e0e 70%, #680e0e 40%, transparent 100%), radial-gradient(ellipse farthest-corner at left top, #dd0000 0%, #dd0000 1%, #dd0000 14%, #dd0000 62.5%, #680e0e 100%);
    }
    h3 {
      color: #04ff04;
    }

    ion-accordion-group {
      ion-accordion {
        .char-info {
          color: #555;
          font-size: 0.7em;
          padding-bottom: 1em;
          border-bottom: 3px solid #04ff04;
          background: #1a003e;
          color: #fff;
          padding: 1em;
        }
      }
    }
  }

  @media only screen and (min-width: 1000px) {

    padding: 1em 1em;

    img {
      width: 50%;
    }
    ion-accordion-group {
      ion-accordion {
        .char-info {
          color: #555;
          font-size: 1.2em;
          padding-bottom: 3em;
        }
      }
    }
  }

}

.coming-soon {
    background: #330474;
    color: #fff;
    border-left: 10px #dd0000 solid;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 0.3em;
    border-radius: 5px;
    margin: 1em auto;
}


// Mobile
@media only screen and (max-width: 1000px) {
  #projects {
    padding: 5em 0;
    p {
      font-size: 1.1em;
    }
    .project-wrapper {
      background: #fff;
      box-shadow: none;
   }
  }

  #ph-concepts {
    .concept-wrapper {
      // margin: 1em;
      h2 {
        padding: 0.3em;
        max-width: 200px;
        margin: 1em auto;
        text-align: center;
      }
    }
  }
}


#header-video,
#paradox-video,
#th-video,
#mar-video,
#th-video-lg,
#mar-video-lg
 {
  width: 100%;
}

#team, #team-lg {
  height: auto;
  padding: 1em;
  // background: linear-gradient(#330474, #111);
  background: #1b023d;

  h1 {
    color: #fff;
  }

  .team-card {
    padding: 2em;
    border-radius: 3px;
    background: #fff;
    color: #330740;
    font-size: 0.8em;
    /* box-shadow: 1px 1px 20px rgb(0 0 0); */
    margin: 2em 0;
    opacity: 1;
    // transform: translateX(-100px);

    .team-apply-btn {
      --background: green;
      --color: white;
    }

    h2 {
      font-size: 1.5em;
      color: #330434;
      margin: 4px auto;
    }
    h4 {
      color: #fff;
      padding: 0.3em;
      border-radius: 5px;
      max-width: 300px;
      margin: 1em auto;
      background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #d19213 3%, #9f7928 30%, #8A6E2F 40%, transparent 100%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #e4cc63 1%, #a88d41 14%, #5d4a1f 62.5%, #5d4a1f 100%);
    }
    p {
      font-size: 1.3em;
    }

    ion-accordion-group {
      ion-accordion {
        .char-info {
          color: #fff;
          font-size: 1em;
          padding-bottom: 1em;
          border-bottom: 3px solid #04ff04;
          background: #1a003e;
          color: #fff;
          padding: 1em;
          height: 550px;
        }
      }
    }

    @media only screen and (max-width: 700px) {
  
      ion-accordion-group {
        ion-accordion {
          .char-info {
            font-size: 0.85em;
            padding-bottom: 3em;
          }
        }
      }
    }

    @keyframes card-in {
      0% {
        opacity: 0;
        transform: translateX(-100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    @keyframes card-out {
      0% {
        transform: translateX(0px);
      }
      90% {
        transform: translateX(-100px);
      }
      100% {
        // opacity: 0;
      }
    }

    .picture {
      border-radius: 100px;
      height: 100px;
      width: 100px;
      padding: 1em 0;
      margin: 2em auto;
    }
  }
  .team-card-wrapper{
    width: 70%;
  }
  .team-card-wrapper::before{
    content: url('../../assets/images/F-Top.svg');
    width: 100%;
  }
  .team-spinner {
    // background: green;
    height: 200px;
    position: relative;
    top: 100px;
  }
  .eddie-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-eddie.png');
      background-size: contain;
    }
  }
  .keith-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-keith.png');
      background-size: contain;
    }
  }
  .richard-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-richard.png');
      background-size: contain;
    }
  }
  .jesus-card {
    .picture {
      background-image: url('../../assets/team-photos/jesus.jpg');
      background-size: contain;
    }
  }
  .aaron-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-aaron.png');
      background-size: contain;
    }
  }
  .ed-kim-card {
    .picture {
      background-image: url('../../assets/team-photos/ed-kim.jpeg');
      background-size: contain;
    }
  }
  .tim-card {
    .picture {
      background-image: url('../../assets/team-photos/tim-bates.jpeg');
      background-size: contain;
    }
  }
  .terrell-card {
    .picture {
      background-image: url('../../assets/team-photos/terrell.jpeg');
      background-size: contain;
    }
  }
  .needed-card {
    border: 5px solid #dd0000;
    padding: 1.8em;

    h2 {
      color: #dd0000;
    }
    h4 {
      color: #fff;
      padding: 0.3em;
      border-radius: 5px;
      max-width: 300px;
      margin: 1em auto;
      background: radial-gradient(ellipse farthest-corner at right bottom, #680e0e 0%, #dd0000 3%, #680e0e 70%, #680e0e 40%, transparent 100%), radial-gradient(ellipse farthest-corner at left top, #dd0000 0%, #dd0000 1%, #dd0000 14%, #dd0000 62.5%, #680e0e 100%);
    }
    .picture {
      background-image: url('../../assets/logos/F_Logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

#contribute {
  height: auto;
  background: #f5f5f5;  
  padding: 5em 0;
  position: relative;
  top: 4px;

  h1 {
    color: #330474;
    margin-top: 5em;
  }
  h2 {
    font-size: 1.4em;
    color: #330474;
    font-weight: 600;
  }
  p {
    font-size: 1.2em;
  }

  .tier {
    width: 400px;
  }

  #tier-1-lg,
  #tier-2-lg,
  #tier-3-lg {
    opacity: 1;
  }

  @media only screen and (max-width: 700px) {
    h1 {
      font-size: 1.4em;
      margin-top: 1em;
    }
    p {
      font-size: 1em;
    }
  }

  @media only screen and (max-width: 600px) {
    .tier {
      width: 100%;
    }
  }

  .contribute-button {
    --background: #ed1811;
    height: 60px;
    width: 200px;
    font-size: 1.3em;
  }
  .coming-soon {
    background: #330474;
    color: #fff;
    border-left: 10px #dd0000 solid;
    font-size: 1.2em;
    max-width: 300px;
    padding: 0.3em;
    border-radius: 5px;
    margin: 0 auto;
  }

}

#contribute-lg {
  height: auto;
  background: #f5f5f5;
  padding: 2em 0 6em 0;
  position: relative;
  top: 10px;

  h1 {
    color: #330474;
  }
  h2 {
    color: #dd0000;
  }
  p {
    font-size: 1.4em;
  }

  .tier {
    width: 300px;
    // opacity: 0;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
    p {
      font-size: 1em;
      color: lightslategray;
    }

    .tier-photo {
      width: 220px;
      height: 150px;
      margin: 0 auto;
      background: lightblue;
    }
  }

  @keyframes tier-slide-up {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

}
.contribute-button {
  --background: #ed1811;
  height: 60px;
  width: 200px;
  font-size: 1.3em;
}
.coming-soon {
  background: #330474;
  color: #fff;
  border-left: 10px #dd0000 solid;
  font-size: 1.2em;
  max-width: 300px;
  padding: 0.3em;
  border-radius: 5px;
  margin: 0 auto;
}

#contact {
  background: #1b023d;
  height: auto;
  padding: 2em 0 2em 0;
  font-size: 1.4em;
  p {
    font-size: 0.8em;
  }


  h1 {
    display: inline;
    color: #330474;
    font-size: 1.5em;
    position: relative;
    top: -10px;
  }
  #contact-form-wrapper {
    padding: 2em 1em;
    margin-top: 2.5em;
    background: white;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
    border-radius: 10px;

    ion-label {
      margin-bottom: 1em;
      color: #330474;
      font-size: 1.1em;
      font-weight: 600;
    }

    ion-textarea {
      background: #dadada;
      padding: 8px 20px;
      color: #330474;
      font-size: 1.5em;
      border-radius: 5px;
    }

    ion-input {
      --padding-start: 20px;
      background: #dadada;
      color: #330474;
      font-size: 1.5em;
      border-radius: 5px;
    }

    a {
      text-decoration: none;
      background: #330474;
      padding: 8px;
      color: white;
      border-radius: 5px;
      box-shadow: 1px 1px 10px #828181;
      margin: 2em 0;
    }

    @media only screen and (max-width: 1000px) {
      p {
        font-size: 0.8em;
      }

      ion-input {
        font-size: 1.2em;
      }
    }
    @media only screen and (max-width: 400px) {
      padding: 1em;
    }
  }
  #contact-submit-button {
    --background: #00ce11;
    height: 45px;
    width: 200px;
    font-size: 0.7em;

    ion-item {
      background: none;
    }
  }
  #contact-message-char-count {
    background: #330474;
    color: #fff;
    width: 70px;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    font-size: 1em;
  }
  #white-alert {
    color: #fff;
    padding: 0.4em;
    border-radius: 3px;
    border-left: #fff solid 7px;
    background: rgb(201 28 28);
    font-weight: 600;
  }
  .red-alert {
    color: #dd0000;
    padding: 0.4em;
    border-radius: 3px 3px 0 0;
    border-left: 5px solid #dd0000;
    background: #dd000017;
    font-size: 1.2em;
    font-weight: 600;
  }
  #social-media-links {
    margin: 5em 0 3em 0;

    #footer-reg-button {
      --background: #039203;
      height: 45px;
      width: 200px;
      font-size: 1em;
    }

    ion-button {
      --background: none;
      --box-shadow: none;
      color: #fff;
      font-size: 1em;
      margin: 1em auto;
      height: 60px;
      ion-icon {
        margin: 0 auto;
      }
    }

    @media only screen and (max-width: 600px) {
    margin: 2em 0 0 0;
      ion-button {
        font-size: 0.9em;
        width: 70px;

      }
    }
  }
}
#footer {
  padding: 3.5em 0;
  background: linear-gradient(#1b023d, #111);
  
  .footer-btn {
    display: block;
    --background: none; 
    --box-shadow: none;
  } 
}
#footer-lg {
  padding: 1em 0;
  background: linear-gradient(#1b023d, #111);
  
  .footer-btn {
    --background: none; 
    --box-shadow: none;
  } 
}


