h1 {
  font-size: 3em;
}

// .lg-logo {
//   position: relative; 
//   right: 30px;
//   width: 200px;
// }

#navbar-toolbar {
  // height: 70px;
}

#login-button {
  --color: #00c400;
}

#navbar-links {

  .inactive-link {
    font-size: 0.9em;
    color: #999;
    --background-hover: #5e04dd;
    transition: 0.5s;
  }
  .active-link {
    font-size: 0.9em;
    color: #dd0000;
    --background-hover: #5e04dd;
    transition: 0.5s;
  }
}

#headerBackgroundVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vh;
  z-index: 0;
}

#header-phrase {
  height: 100px;
  width: 400px;
  background: #00000088; 
  color: white; 
  position: absolute;
  border-radius: 5px;
  top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  // animation: phrase-slide-up 1s forwards;
}

@keyframes phrase-slide-up {
  0%    { 
    transform: translateY(200px); 
  }
  100%  { 
    transform: translateY(0px); 
    opacity: 1;
  }
}

// #header {
//   height: 100vh;
//   background: lightgray;
//   display: flex;
//   align-items: center;
//   justify-content: center;

  
// }

#about {
  padding: 5em 0;
  // background: linear-gradient(#330474, #111);
  color: white;

  h1 {
    color: #222;
  }

  p {
    font-size: 1.5em;
    color: #666;
  }

  #detroit-skyline {
    opacity: 0;

    img {
      width: 100%;
    }
  }

  @keyframes detroit-skyline-fade-up {
    0% {
      transform: translateY(200px);
      opacity: 0;
    }
    100% {
      transform: translateY(88px);
      opacity: 1;
      
    }
  }
  @keyframes detroit-skyline-fade-down {
    0% {
      transform: translateY(88px);
      opacity: 1;
    }
    100% {
      transform: translateY(10px);
      opacity: 0;
    }
  }


  @media only screen and (max-width: 600px) {
    p {
      font-size: 1.1em;
    }
  }


}



#projects {
  padding: 10em 0;
  // background: #999;  
  

  #project-demos-mobile {
    // background: lightseagreen;  

    .project-logo {
      width: 150px;
      height: 150px;
      background: #5e04dd;
      margin-top: 5em;
    }

    h2 {
      
    }

    h5 {
      color: #777;
    }
  
    .demo-wrapper {
      height: 250px;
      width: 100%;
      margin: 0em auto 6em auto;
      background: lightseagreen;
    }
  
    .demo-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      background: rgba(0, 0, 0, 0.459); 
      display: flex;
      align-items: center;
      justify-content: center;
  
    }

    @keyframes overlay-fade-out {
      0% {
        opacity: 1;
      }
      100% {
        height: 0px;
        opacity: 0;
      }
    }

    .view-project-button {
    }
  }

  #project-demos-desktop {
    // background: lightseagreen; 
    
    .project-wrapper-desktop {
      box-shadow: 1px 1px 20px #99999960;
      margin: 3em auto;
    }
  
    .demo-wrapper {
      height: 500px;
      width: 100%;
      // margin: 0em auto 6em auto;
    }

    .demo-info {
      height: 500px;
      width: 100%;
      padding: 1.3em 2.5em;
      
      .project-logo {
        width: 150px;
        height: 150px;
        background: #5e04dd;
        margin-top: 5em;
      }

      h2 {
        color: #000;
      }
  
      h5 {
        color: #999;
      }

      p {
        color: #444;
      }

    }
  
    .demo-overlay {
      height: 500px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      background: rgba(0, 0, 0, 0.459); 
      display: flex;
      align-items: center;
      justify-content: center;
  
    }

    @keyframes overlay-fade-out {
      0% {
        opacity: 1;
      }
      100% {
        height: 0px;
        opacity: 0;
      }
    }

    .view-project-button {
    }
  }
  

}

@media only screen and (max-width: 600px) {
  #projects {
    padding: 5em 0;
  }
}

#team-background-video {
  width: 100%;
}

.team-background-green {
  background: green;
  transition: 0.5s;

  h1 {
    color: white;
  }
}
.team-background-purple {
  background: purple;
  transition: 0.5s;

  h1 {
    color: white;
  }
}
.team-background-red {
  background: red;
  transition: 0.5s;

  h1 {
    color: white;
  }
}
.team-background-none {
  background: #999;
  transition: 0.5s;

  h1 {
    color: #000;
  }
}

#team {
  height: auto;
  padding: 5em 0;
  // background: lightblue;
  background-attachment: fixed;

  .team-card {
    padding: 3em;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
    background: white;
    margin: 2em 0;
    opacity: 0;
    transition: 0.5s;

    @keyframes card-in {
      0% {
        transform: translateX(-100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    @keyframes card-out {
      0% {
        transform: translateX(0px);
      }
      90% {
        transform: translateX(-100px);
      }
      100% {
        // opacity: 0;
      }
    }

    h4 {

    }

    p {
      font-size: 1.3em;
    }

    .picture {
      border-radius: 100px;
      height: 150px;
      width: 150px;
      background: lightskyblue;
      padding: 1em 0;
      box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
      margin: 0 auto;
    }
  }

  
}

#contribute {
  height: auto;
  // background: lightblue;  
  padding: 5em 0;

  p {
    font-size: 1.5em;
  }

  .tier {
    width: 500px;
    background: white;
    padding: 2em;
    opacity: 0;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
  }

  @media only screen and (max-width: 600px) {
    .tier {
      width: 100%;
    }
  }

  @keyframes tier-in {
    0% {
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes tier-out {
    0% {
      transform: translateX(0px);
    }
    90% {
      transform: translateX(-100px);
    }
    100% {
      // opacity: 0;
    }
  }

  #contribute-button {
    --background: #029902;
    height: 60px;
    width: 200px;
    font-size: 1.3em;
  }

}

#boss-coin {
  height: auto;
  background: #000;  
  padding: 5em 0;

  h1 {
    color: #fff;
  }

  p {
    font-size: 1.5em;
    color: #999;
  }

  #boss-coin-model {
    display: inline-block;
    margin: auto 0;
    width: 200px;
    height: 200px;
    // background: lightslategray;
    animation: coin-rotate 8s linear infinite;
  }

  #boss-coin-button {
    --background: #029902;
    height: 60px;
    width: 200px;
    font-size: 1.3em;

  }

  @keyframes coin-rotate {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(360deg);
    }
   100% {
      transform: rotateY(0deg);
    }
  }
}

#contact {
  height: 100vh;
  // background: #999;  
  padding: 5em 0;

  #contact-form-wrapper {
    padding: 2em;
    margin-top: 2.5em;
    background: white;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
    border-radius: 10px;
  }

  #contact-submit-button {
    margin-top: 2em;

    ion-item {
      background: none;
    }
  }

  #contact-message-char-count {
    background: #e7e7e7;
    width: 100px;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
  }
}


