h1 {
  font-size: 3em;
}
.red-text {
  color: #ff3f3f;
}
.green-text {
  color: #64ff64;
}

// .lg-logo {
//   position: relative; 
//   right: 30px;
//   width: 200px;
// }

#navbar-wrapper {

  background: #f5f5f5;

  #navbar-toolbar {
    // height: 70px;

    ion-toolbar {
      --background: none;
    }

    #navbar-3d-logo {
      height: 50px;
      width: 50px;
    }
  }

}

#login-button {
  --color: #00ce11;
}
#profile-button {
  --color: #00ce11;
}
.header-ios ion-toolbar:last-of-type {
  --border-width: 0px;
}
#navbar-links {

  .inactive-link {
    font-size: 0.9em;
    color: #999;
    --background-hover: #330474;
    transition: 0.5s;
  }
  .active-link {
    font-size: 0.9em;
    color: #dd0000;
    --background-hover: #330474;
    transition: 0.5s;
  }
}

#headerBackgroundVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100vh;
  min-height: 100vh;
  z-index: 0;
}

#header-phrase {
  height: 100px;
  width: 400px;
  background: #00000088; 
  color: white; 
  position: absolute;
  border-radius: 5px;
  top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  // animation: phrase-slide-up 1s forwards;
}

@keyframes phrase-slide-up {
  0%    { 
    transform: translateY(200px); 
  }
  100%  { 
    transform: translateY(0px); 
    opacity: 1;
  }
}
#about {
  padding: 5em 0 0 0;
  background: linear-gradient(#330474, #111);
  color: white;

  h1 {
    margin-bottom: 1em;
  }

  p {
    font-size: 1.4em;
    background: #330474;
    color: #fff;
    margin: 0 2em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #0000006b;
  }

  #detroit-skyline-svg {
    opacity: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  .slant-reverse {
    width: 100%;
    display: block;
    position: relative;
  }
  .slant-bosscoin {
    width: 100%;
    display: block;
    position: relative;
  }
  @media only screen and (max-width: 1000px) {
    p {
      font-size: 1.2em;
      padding: 0em;
      box-shadow: none;
    }
  }
  @keyframes about-object-slide-reverse {
    0% {
        transform: translate(0px);
    }
    10% {

        opacity: 1;
    }
    100% {
        transform: translate(-1470px, 95px);
        opacity: 1;
    }
  }
  @keyframes detroit-skyline-fade-up {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      
    }
  }
  @keyframes detroit-skyline-fade-down {
    0% {
      transform: translateY(88px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
      opacity: 0;
    }
  }
  @keyframes green-moon {
    0% {
      transform: translate(-20px, 0);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translate(600px, -100px);
      opacity: 0;
    }
  }
}
#AR {
  height: auto;
  padding: 5em 0;
  margin: 0 2em;
  background: #fff;

  h1 {
    color: #330474;
    margin: 2em auto;
  }
  p {
    font-size: 1.4em;
    margin: 0 2em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #9999996b;
  }
  #AR-image{
    
    img {
      width: 100%;
    }
    #AR-image-caption {
      font-size: 0.8em;
      margin: 1em auto;
      float: right;
    }
  }
  .magic-leap-3D-model {
    background: cornsilk;
    margin: 1.5em auto;
    height: 250px;
    width: 250px;
  }
  .magic-leap-3D-model-caption {
    font-size: 1.2em;
    color: #dd0000;
    width: auto;
  }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 1.5em;
      margin-top: 1em;
    }
    p {
      font-size: 1.1em;
    }
  }
}
#projects {
  padding: 10em 0;
  background: #f5f5f5;  
  position: relative;
  top: 5px;
  
  h2 {
    color: #dd0000;
  }
  p {
    font-size: 1.5em;
  }

  #project-demos-mobile {
    // background: lightseagreen;  

    .project-logo {
      width: 150px;
      height: 150px;
      background: #5e04dd;
      margin-top: 5em;
    }

    h2 {
      
    }

    h5 {
      color: #777;
    }
  
    .demo-wrapper {
      height: 250px;
      width: 100%;
      margin: 0em auto 6em auto;
    }
  
    .demo-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      background: rgba(0, 0, 0, 0.459); 
      display: flex;
      align-items: center;
      justify-content: center;
  
    }

    @keyframes overlay-fade-out {
      0% {
        opacity: 1;
      }
      100% {
        height: 0px;
        opacity: 0;
      }
    }

    .view-project-button {
    }
  }

  #project-demos-desktop {
    // background: lightseagreen; 
    
    .project-wrapper-desktop {
      // box-shadow: 1px 1px 20px #99999960;
      margin: 3em auto;
    }
  
    .demo-wrapper {
      height: 500px;
      width: 100%;
      // margin: 0em auto 6em auto;
    }

    .demo-info {
      height: auto;
      width: 100%;
      padding: 2em;
      background: #fff;
      border-radius: 5px;
      box-shadow: 1px 1px 20px #99999969;
      
      .project-logo {
        width: 150px;
        height: 150px;
        background: #5e04dd;
        margin-top: 5em;
      }

      h2 {
        color: #dd0000;
      }
  
      h5 {
        color: #999;
      }

      p {
        color: #444;
      }

    }
  
    .demo-overlay {
      height: 500px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      background: rgba(0, 0, 0, 0.459); 
      display: flex;
      align-items: center;
      justify-content: center;
  
    }

    @keyframes overlay-fade-out {
      0% {
        opacity: 1;
      }
      100% {
        height: 0px;
        opacity: 0;
      }
    }

    .view-project-button {
    }
  }
  .coming-soon {
    background: #f4f4f4;
    color: #555500;
    border-left: 10px #dd0000 solid;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
  }
  .paradox-release {
    background: #f4f4f4;
    color: #555500;
    border-left: 10px #dd0000 solid;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 3em;
  }
}

@media only screen and (max-width: 1000px) {
  #projects {
    padding: 5em 0;
    p {
      font-size: 1.1em;
    }
  }
}

#about-video,
#th-video,
#mar-video,
#th-video-lg,
#mar-video-lg
 {
  width: 100%;
}

.team-background-none {
  background: linear-gradient(#330474, #111);
  transition: 0.5s;

  h1 {
    color: #fff;
  }
}

#team {
  height: auto;
  padding: 5em 0;
  // background: linear-gradient(#330474, #111);
  background: #330474;

  h1 {
    color: #fff;
  }

  .team-card {
    padding: 2em;
    border-radius: 10px;
    background: #fff;
    color: #330740;
    /* box-shadow: 1px 1px 20px rgb(0 0 0); */
    margin: 2em 0;
    opacity: 0;
    transition: 0.5s;

    h2 {
      font-size: 1.4em;
      color: #00c400;
      font-weight: 600;
    }
    h4 {
      color: #fff;
      background: #dd0000;
      border-radius: 5px;
      width: 300px;
      margin: 1em auto;
    }
    p {
      font-size: 1.5em;
    }

    @media only screen and (max-width: 600px) {
      p {
        font-size: 1.2em;
      }
    }

    @keyframes card-in {
      0% {
        transform: translateX(-100px);
      }
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    @keyframes card-out {
      0% {
        transform: translateX(0px);
      }
      90% {
        transform: translateX(-100px);
      }
      100% {
        // opacity: 0;
      }
    }

    .picture {
      border-radius: 100px;
      height: 150px;
      width: 150px;
      background: lightskyblue;
      padding: 1em 0;
      box-shadow:  1px 1px 7px #110c0cb0;;
      margin: 0 auto;
    }
  }
  .team-card-wrapper{
    width: 70%;
  }
  .team-card-wrapper::before{
    content: url('../../assets/images/F-Top.svg');
    width: 100%;
  }
  .team-spinner {
    // background: green;
    height: 200px;
    position: relative;
    top: 100px;
  }
  #eddie-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-eddie.png');
      background-size: cover;
    }
  }
  #keith-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-keith.png');
      background-size: contain;
    }
  }
  #meek-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-meek.png');
      background-size: cover;
    }
  }
  #richard-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-richard.png');
      background-size: contain;
    }
  }
  #aaron-card {
    .picture {
      background-image: url('../../assets/team-photos/fbs-aaron.png');
      background-size: contain;
    }
  }

  
}
#contribute {
  height: auto;
  background: #f5f5f5;  
  padding: 5em 0;
  position: relative;
  top: 4px;

  h1 {
    color: #330474;
    margin-top: 5em;
  }
  h2 {
    font-size: 1.4em;
    color: #330474;
    font-weight: 600;
  }
  p {
    font-size: 1.2em;
  }

  .tier {
    width: 500px;
    background: #fff;
    padding: 2em;
    opacity: 0;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 1.4em;
      margin-top: 1em;
    }
    p {
      font-size: 1.1em;
    }
  }

  @media only screen and (max-width: 600px) {
    .tier {
      width: 100%;
    }
  }
  @keyframes tier-in {
    0% {
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes tier-out {
    0% {
      transform: translateX(0px);
    }
    90% {
      transform: translateX(-100px);
    }
    100% {
      // opacity: 0;
    }
  }

  .contribute-button {
    --background: #ed1811;
    height: 60px;
    width: 200px;
    font-size: 1.3em;
  }

}
#contribute-lg {
  height: auto;
  background: #f5f5f5;
  padding: 2em 0 6em 0;
  position: relative;
  top: 10px;

  h1 {
    color: #330474;
  }
  h2 {
    color: #dd0000;
  }
  p {
    font-size: 1.4em;
  }

  .tier {
    width: 300px;
    opacity: 0;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
    p {
      font-size: 1em;
      color: lightslategray;
    }

    .tier-photo {
      width: 220px;
      height: 150px;
      margin: 0 auto;
      background: lightblue;
    }
  }

  @keyframes tier-slide-up {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

}
.contribute-button {
  --background: #ed1811;
  height: 60px;
  width: 200px;
  font-size: 1.3em;
}

#contact {
  background: #330474;;
  height: auto;
  padding: 2em 0 2em 0;
  font-size: 1.4em;
  p {
    font-size: 0.8em;
  }


  h1 {
    display: inline;
    color: #330474;
    font-size: 1.5em;
    position: relative;
    top: -10px;
  }
  #contact-form-wrapper {
    padding: 2em 1em;
    margin-top: 2.5em;
    background: white;
    box-shadow: 1px 1px 20px rgba(153, 153, 153, 0.377);
    border-radius: 10px;

    ion-label {
      margin-bottom: 1em;
      color: #330474;
      font-size: 1.1em;
      font-weight: 600;
    }

    ion-textarea {
      background: #dadada;
      padding: 8px 20px;
      color: #330474;
      font-size: 1.5em;
      border-radius: 5px;
    }

    ion-input {
      --padding-start: 20px;
      background: #dadada;
      color: #330474;
      font-size: 1.5em;
      font-weight: 600;
      border-radius: 5px;
    }

    @media only screen and (max-width: 1000px) {
      p {
        font-size: 0.8em;
      }

      ion-input {
        font-size: 1.2em;
      }
    }
    @media only screen and (max-width: 400px) {
      padding: 1em;
    }
  }
  #contact-submit-button {
    --background: #00ce11;
    height: 45px;
    width: 200px;
    font-size: 0.7em;

    ion-item {
      background: none;
    }
  }
  #contact-message-char-count {
    background: #330474;
    color: #fff;
    width: 70px;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
    font-size: 1em;
  }
  #white-alert {
    color: #fff;
    padding: 0.4em;
    border-radius: 3px;
    border-left: #fff solid 7px;
    background: rgb(201 28 28);
    font-weight: 600;
  }
  #red-alert {
    color: #dd0000;
    padding: 0.4em;
    border-radius: 3px 3px 0 0;
    border-left: 5px solid #dd0000;
    background: #dd000017;
    font-size: 1.2em;
    font-weight: 600;
  }
  #social-media-links {
    margin: 5em 0 3em 0;

    ion-button {
      --background: none;
      --box-shadow: none;
      color: #fff;
      font-size: 1em;
      margin: 1em auto;
      height: 60px;
      ion-icon {
        margin: 0 auto;
      }
    }

    @media only screen and (max-width: 600px) {
    margin: 2em 0 0 0;
      ion-button {
        font-size: 0.9em;
        width: 70px;

      }
    }
  }
}
#footer {
  padding: 3.5em 0;
  background: linear-gradient(#330474, #111);
  
  .footer-btn {
    display: block;
    --background: none; 
    --box-shadow: none;
  } 
}
#footer-lg {
  padding: 1em 0;
  background: linear-gradient(#330474, #111);
  
  .footer-btn {
    --background: none; 
    --box-shadow: none;
  } 
}


