ion-grid {
    min-height: 100vh;
    padding-bottom: 15em;
}
.form-wrapper {
    background: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #0000001c;

    #register-btn-reg {
        --background: #00c400;
        height: 60px;
        width: 200px;
        --border-radius: 5px;
        margin: 0 auto;
    }
}
#eth-address {
    transition: 500ms;
}
@media only screen and (max-width: 600px) {
  .form-wrapper {
    box-shadow: none;
    background: none;
    padding: 1em 0em;
  }
  
}

#register-button-lg,
#cancel-button-lg
 {
    width: 150px;
    --background: #880000;
    
}
#register-logo {
    height: 175px;
    margin-top: 2em;
}
h1 {
    font-size: 2em;
    color: #330474;
}
#register-form{
    padding: 1em;

  ion-item {
      border: 2px solid #330474;
      border-radius: 5px;

    ion-input {
        --padding-start: 20px;
        --placeholder-color: #330474;
        color: #330474;
        font-size: 1em;
        border-radius: 5px;
    }
    
    ion-checkbox {
        --size: 2em;
        --background-checked: #00c400;
        margin: 0 1em;
    }

    .checkbox-text {
        color: #330474;
        font-size: 1em;
    }
  }
  .newsletter-description {    
      color: #352b00;
      padding: 0.8em;
      margin: 2em auto;
      border-radius: 3px 3px 0 0;
      border-left: 5px solid #330474;
      background: #33047417;
  }

  .red-alert {
    color: #352b00;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px 3px 0 0;
    border-left: 5px solid #880000;
    background: #88000017;
  }
  .green-alert {
    color: #352b00;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px 3px 0 0;
    border-left: 5px solid #00c400;
    background: #00c40017;
  }

  #show-password {
      --background: none;
      --box-shadow: none;
      --color: #00c400;
      font-size: 1.5em;
  }
}
#register-success-wrapper {
    text-align: center;
    padding-top: 10%;

    h1 {
        color: #330474;
    }
    ion-button {
        width: 150px;
        height: 50px;
        font-size: 1.2em;
        margin-top: 1em;
        --background: #bd1d1d;
    }
    ion-icon {
        font-size: 7em;
        color: white;
    }
    .green-alert {
      color: #00c400;
      padding: 0.4em;
      border-radius: 3px 3px 0 0;
      border-left: 5px solid #00c400;
      background: #00c40017;
      font-weight: 600;
    }

}

ion-footer {
    
    #register-btn-cancel {
        --background: #880000;
        height: 60px;
        margin: 0;
        --border-radius: 0;
    }
}