<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goToLoginPage()">
      <span style="margin-left: 2em;"></span>
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
        <!-- <img style="position: relative; top: 5px;" height="25" src="../../assets/logos/F_Logo.svg"> -->
        User Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

  <!-- Forms -->
  <ion-row class="ion-justify-content-center">
    <!-- Logo -->
    <!-- Back Button & Header -->
    <ion-col class="form-wrapper" size-xs="11" size-sm="10" size-md="8" size-lg="5">

      <!-- Forms -->
      <form id="register-form" [formGroup]="registerForm">
        <div class="spacer-3x"></div>
        <h1>User Information</h1>
        <ion-item lines="none" style="border: none; --background: none;">
          <p class="red-alert">Fill out entire form.</p>
        </ion-item>
        <ion-item lines="none">
          <ion-input 
            required
            placeholder="First Name"
            formControlName="firstName" 
            maxlength="40" 
            type="text">
          </ion-input>
          <!-- Name Validation-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.firstName">
                  <div class="validation-error-message"
                  *ngIf="registerForm
                    .get('firstName')
                    .hasError(validation.type) && (registerForm.get('firstName')
                    .dirty || registerForm.get('firstName').touched)">
                    {{ validation.message }}
                  </div>
            </ng-container>
          </div>
        </ion-item>
        <ion-item lines="none">
          <ion-input 
            required 
            placeholder="Last Name"
            formControlName="lastName" 
            maxlength="40" 
            type="text"></ion-input>
          <!-- Name Validation-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.lastName">
                  <div class="validation-error-message"
                  *ngIf="registerForm
                    .get('lastName')
                    .hasError(validation.type) && (registerForm.get('lastName')
                    .dirty || registerForm.get('lastName').touched)">
                    {{ validation.message }}
                  </div>
            </ng-container>
          </div>
        </ion-item>
        <ion-item lines="none">
          <ion-input 
            required 
            placeholder="Email"
            formControlName="email" 
            maxlength="80" 
            type="email">
          </ion-input>
          <!-- Email Validation-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.email">
                  <div class="validation-error-message"
                  *ngIf="registerForm
                    .get('email')
                    .hasError(validation.type) && (registerForm.get('email')
                    .dirty || registerForm.get('email').touched)">
                    {{ validation.message }}
                  </div>
            </ng-container>
          </div>
        </ion-item>
        <!-- <ion-item>
          <ion-checkbox></ion-checkbox>
          <p>Sign Up for Newsletter?</p>
        </ion-item> -->

        <!-- Passwords Header -->
        <div class="spacer-4x"></div> 
        <h1>Password</h1>
        <ion-item lines="none" style="border: none; --background: none;">
          <p class="red-alert">Password has to be at least 8 characters long</p>
        </ion-item>
        <ion-item lines="none">
            <ion-input 
              required
              minLength="8"
              id="password"
              placeholder="Password" 
              formControlName="password" 
              type="password">
            </ion-input>
            
            <ion-button id="show-password"
            (click)="togglePasswordDisplay()">
              <ion-icon name="eye" ></ion-icon>
            </ion-button>
            <!-- Password Validation-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="validation-error-message"
                    *ngIf="registerForm
                      .get('password')
                      .hasError(validation.type) && (registerForm.get('password')
                      .dirty || registerForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
              </ng-container>
            </div>
        </ion-item>
      </form>


    <!-- Lg Buttom Buttons -->
    <ion-row class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size="5" class="ion-text-center">
        <div class="spacer-2x"></div>
        <ion-button 
        id="register-button-lg" 
        color="success" 
        type="submit" 
        (click)="this.tryRegister()"
        >
        Register
        </ion-button>
        <br>
        <!-- [disabled]="contactForm.invalid" -->
        <div class="spacer-2x"></div>
        <ion-button id="cancel-button-lg" (click)="goToLoginPage()" color="medium">
        Cancel
        </ion-button>
      </ion-col>
    </ion-row>

    </ion-col>
  </ion-row>

  </ion-grid>


  <!-- Success Modal -->
  <ion-modal [isOpen]="this.registerSuccessModal">
    <ng-template>
      <ion-content style="--background: #fff;">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col id="register-success-wrapper" size="11">
            <img height="150" src="../../assets/logos/FBS_Logo_Initial_Final.png">
            <h1>You have successfully registered!</h1>
            <ion-button (click)="closeSuccessModal()">
              Close
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<!-- Mobile Footer Buttons -->
<ion-footer class="ion-hide-lg-up">
    <ion-button id="register-btn-reg" 
      type="submit" 
      [disabled]="!this.registerForm.valid" 
      (click)="this.tryRegister()" 
      expand="block">
      Complete Sign Up
    </ion-button>
    <ion-button id="register-btn-cancel" (click)="goToLoginPage()" expand="block">
      Cancel
    </ion-button>
</ion-footer>