<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goToLoginPage()">
      <span style="margin-left: 2em;"></span>
      <ion-icon slot="start" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title style="color: #330474;">
        <!-- <img style="position: relative; top: 5px;" height="25" src="../../assets/logos/F_Logo.svg"> -->
        User Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

  <!-- Forms -->
  <ion-row class="ion-justify-content-center">
    <!-- Logo -->
    <!-- Back Button & Header -->
    <ion-col class="form-wrapper" size-xs="11" size-sm="10" size-md="8" size-lg="6">
      <div class="ion-text-center">
        <img id="register-logo" src="../../assets/logos/F_Logo.svg">
      </div>
      <!-- Forms -->
      <form id="register-form" [formGroup]="registerForm">
        <!-- Fill out entire form message -->
        <div class="spacer-4x"></div> 
        <h1>User Information</h1>
        <p class="red-alert">Fill out entire form.</p>

        <!-- First Name -->
        <ion-item lines="none">
          <ion-input 
            required
            placeholder="First Name"
            formControlName="firstName" 
            maxlength="40" 
            type="text">
          </ion-input>
          <!-- Name Validation-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.firstName">
                  <div class="validation-error-message"
                  *ngIf="registerForm
                    .get('firstName')
                    .hasError(validation.type) && (registerForm.get('firstName')
                    .dirty || registerForm.get('firstName').touched)">
                    {{ validation.message }}
                  </div>
            </ng-container>
          </div>
        </ion-item>
        <!-- Last Name -->
        <ion-item lines="none">
          <ion-input 
            required 
            placeholder="Last Name"
            formControlName="lastName" 
            maxlength="40" 
            type="text"></ion-input>
          <!-- Name Validation-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.lastName">
                  <div class="validation-error-message"
                  *ngIf="registerForm
                    .get('lastName')
                    .hasError(validation.type) && (registerForm.get('lastName')
                    .dirty || registerForm.get('lastName').touched)">
                    {{ validation.message }}
                  </div>
            </ng-container>
          </div>
        </ion-item>
        <!-- Email -->
        <ion-item lines="none">
          <ion-input 
            required 
            placeholder="Email"
            formControlName="email" 
            maxlength="80" 
            type="email">
          </ion-input><br>
        </ion-item>
        <!-- Email Validation-->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessasges.email">
                <div class="validation-error-message"
                *ngIf="registerForm
                  .get('email')
                  .hasError(validation.type) && (registerForm.get('email')
                  .dirty || registerForm.get('email').touched)">
                  {{ validation.message }}
                </div>
          </ng-container>
        </div>
        
        <!-- Passwords -->
        <div class="spacer-4x"></div> 
        <h1>Password</h1>
        <ion-item lines="none">
                    <ion-input 
                      required
                      minLength="6"
                      maxLength="50"
                      id="password"
                      placeholder="Create Password" 
                      formControlName="password" 
                      type="password">
                    </ion-input><br>
                    
                    <ion-button id="show-password"
                    (click)="togglePasswordDisplay()">
                      <ion-icon name="eye" ></ion-icon>
                    </ion-button>
        </ion-item>
        <!-- Password Validation-->
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessasges.password">
                <div class="validation-error-message"
                *ngIf="registerForm
                  .get('password')
                  .hasError(validation.type) && (registerForm.get('password')
                  .dirty || registerForm.get('password').touched)">
                  {{ validation.message }}
                </div>
          </ng-container>
        </div>

        <!-- Newsletter -->
        <div class="spacer-4x"></div> 
        <h1>Newsletter</h1>
        <p class="newsletter-description">Sent directly to the email provided, be the first to know about new updates with the Final Boss Newsletter! 
          You can unsubscibe anytime in your profile page.</p>
        <ion-item style="height: 60px;">
          <ion-checkbox
          (ionChange)="subNewletter($event)" 
          ></ion-checkbox>
          <p class="checkbox-text">Sign Up for Newsletter?</p>
        </ion-item>

        <!-- BossCoin -->
        <!-- <div class="spacer-4x"></div> 
        <h1>BossCoin (BOSSC)</h1> -->
        <!-- 3D Model -->
        <!-- <ion-item style="border: none;">
            <model-viewer 
             alt="BOSSCoin 3D Model" 
             style="margin: 2em auto; width: 100px;"
             src="../../../assets/3dmodels/bosscoin2.glb" 
             environment-image="" 
             poster="" 
             shadow-intensity="1" 
             camera-controls
             autoplay 
             touch-action="pan-x">
           </model-viewer>
        </ion-item> -->

        <!-- Recieve 100 BOSSC Checkbox -->
        <!-- <ion-item style="height: 60px;">
          <ion-checkbox (ionChange)="oneFreeBossCoin($event)"></ion-checkbox>
          <p>Earn 100 BOSSC</p>
        </ion-item> -->
        <!-- First Time MetaMask Checkbox -->
        <!-- <ion-item *ngIf="this.freeBossCoin">
            <ion-checkbox (ionChange)="metaMaskAccountCheck($event)"></ion-checkbox>
            <img height="30" src="../../assets/logos/MetaMask_Fox.png">
            <span style="width: 8px;"></span>
            <p style="font-size: 1em;"> Need to create a MetaMask account?</p>
        </ion-item>
        <ion-item *ngIf="this.freeBossCoin" style="border: none; --background: none;" lines="none">
          <p class="red-alert">Selecting this checkbox will opens a new MetaMask tab or window in your browser.</p>
        </ion-item> -->

        <!-- Wallet Address -->
        <!-- <ion-item *ngIf="this.freeBossCoin" lines="none" id="eth-address">
            <ion-input 
              id="ethAdrress"
              placeholder="Account Address e.i: 0xbC4d0926A800f31e4545920B8b9140D940AAF2" 
              formControlName="walletAddress" 
              type="text">
            </ion-input>

            <!-- Eth Addrress Validation-->
            <!-- <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="validation-error-message"
                    *ngIf="registerForm
                      .get('password')
                      .hasError(validation.type) && (registerForm.get('password')
                      .dirty || registerForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
              </ng-container>
            </div> -->
        <!-- </ion-item> -->

        <div class="ion-text-center ion-hide-lg-up">
          <div class="spacer-5x"></div>
          <ion-button id="register-btn-reg" 
            type="submit" 
            (click)="this.tryRegister()" 
            expand="block">
            Complete Sign Up
          </ion-button>
        </div>
      </form>


    <!-- Lg Buttom Buttons -->
    <ion-row class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size="5" class="ion-text-center">
        <div class="spacer-2x"></div>
        <ion-button 
        id="register-button-lg" 
        color="success" 
        type="submit" 
        (click)="this.tryRegister()"
        >
        Register
        </ion-button>
        <br>
        <!-- [disabled]="contactForm.invalid" -->
        <div class="spacer-2x"></div>
        <ion-button id="cancel-button-lg" (click)="goToLoginPage()">
        Cancel
        </ion-button>
        <div class="spacer-4x"></div> 
      </ion-col>
    </ion-row>
    </ion-col>
  </ion-row>
  </ion-grid>


  <!-- Success Modal -->
  <ion-modal [isOpen]="this.registerSuccessModal">
    <ng-template>
      <ion-content style="--background: #fff;">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col id="register-success-wrapper" size="11">
            <img height="150" src="../../assets/logos/FBS_Logo_Initial_Final.png">
            <h1>You have successfully registered!</h1>
            <img height="50" *ngIf="this.freeBossCoin" src="./../../assets/logos/MetaMask_Fox.png" alt="MetaMask Logo">
            <p class="green-alert" *ngIf="this.freeBossCoin">100 BOSSC has been sent to your Meta Mask account.</p>  
            <ion-button (click)="closeSuccessModal()">
              Close
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<!-- Mobile Footer Buttons -->
<ion-footer class="ion-hide-lg-up">
    <ion-button id="register-btn-cancel" (click)="goToLoginPage()" expand="block">
      Cancel
    </ion-button>
</ion-footer>